body {
  background-color: #eee;
}

.bg-progress{
  background-color: #fd7e14 !important;
}

a.bg-progress:focus, a.bg-progress:hover, button.bg-progress:focus, button.bg-progress:hover {
  background-color: #fd7e14 !important;
}

.alert-progress {
  color: #8d470c;
  background-color: #fbe1ca;
  border-color: #fcd3b4;
}

.alert-progress hr {
  border-top-color: #f9c497;
}

.alert-progress .alert-link {
  color: #683a14;
}

.nounderline { 
  text-decoration: none !important;
}

.card-deck .card {
  min-width: 220px;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.page-title {
  text-align: center;
  margin: 0;
  border-radius: 0;
  color: #ffffff;
  /*background-image: url('images/header_bg_green.png');*/
  background-image: url('images/header_bg_blue.png');
  background-repeat: no-repeat;
  background-color: #23a3e8;
}

.form-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-report {
  max-width: 630px;
  margin: 0 auto;
}
/*
.form-report .form-sort-heading,
.form-report .checkbox {
  margin-bottom: 10px;
}
.form-report .checkbox {
  font-weight: normal;
}
.form-report .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-report .form-control:focus {
  z-index: 2;
}
.form-report input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-report input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

.form-sort {
  max-width: 630px;
  padding: 15px;
  margin: 0 auto;
}
.form-sort .form-sort-heading,
.form-sort .checkbox {
  margin-bottom: 10px;
}
.form-sort .checkbox {
  font-weight: normal;
}
.form-sort .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-sort .form-control:focus {
  z-index: 2;
}
.form-sort input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-sort input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

canvas {
  position: absolute;
}

.error-page-container {
  padding: 0;
  margin: 0;
}

.error_page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}